//table= {title, head, body}
//tclass - class that table will have
mixin table(table, tclass)
    table(calss=tclass)
        thead
            if table.title
                header(class=tclass + "__header")= table.title
            tr
                each val, index in table.head
                    if val.value
                        td(class="table__head_item " + index)
                            .text__wrap= val.value
                    else
                        td(class="table__head_item " + index)= val
            tr
                each val in table.head
                    td.underline
        tbody
            each row in table.body
                tr
                    each col in row
                        if col.state
                            td(align="center")
                                div(class="state "+ col.state)= col.state
                        else
                            td= col